.containerFormulaire{
    display: flex;
    width: 50%;
    height:calc(100vh - 73px); 
    margin-left: 25%;
    background-color: #0A3D62;
    justify-content: center;
}

.imgLogin{
    display: flex;
    justify-content: left;
}

.containerFormulaire img{
    width: 400px;
    height: auto;
}