.Header {
    position: sticky;
    top: 0px;
    background-color: #0A3D62;
    z-index: 20;
    height: 80px;
    display: flex;
    padding: 20px 40px 0px 40px;
    justify-content: space-between;
    box-sizing: border-box;
}

.Header .home a {
    margin-right: 60px;
}

.Header .panier a { 
    display: flex;
}

.Header div a {
    text-decoration: none; 
    color: white;
    font-family: 'Roboto Slab', Serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.panier img {
    margin-right: 20px;
    color: white;
    width: 40px;
    height: auto;
}