/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.bonjour {color:red; font-size:30px; background-color: blue;}
.carréDansLaxe {background-color: green; width:200px; height:200px; display: flex; justify-content: center; align-items: center;}
.bulbizarre {width:150px; height:150px;}
.containerBulbizarre {display: flex}
.inputContainer {display: flex; flex-direction: column; width:200px}


.Header{ text-align: center; border-bottom: solid 1px grey;}
.Header ul{ list-style: none; padding:0px; }
.Header ul li{ display: inline-block; margin-right:20px;}
.Header ul li a{ text-decoration: none; color: black; }