.Bienvenue {
    background-color: #0A3D62; 
    color: white;
    text-align: center;
    padding: 20px 0 20px 0;
}

.Bienvenue .title {
    list-style: none;
    padding: 40px;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 100px;
    letter-spacing: 2px;
}

.the {
    color: #4A69BD;
    margin-right: 30px;
}
.french {
    color: white;
    margin-right: 30px;
}

.flavor {
    color: #E55039;
}

.Bienvenue .subtitle {
    font-family: 'Roboto Slab', Serif;
    font-size: 30px;
    font-weight: 600;
}

.Bienvenue .image {
    display: flex;
    justify-content: center;
}

.Bienvenue img {
    width: 900px;
    height: auto;
}

