.Temoignages {
    background-color: #0A3D62; 
    color: white;
}

.Temoignages .title{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    border-top: 100px solid #0A3D62;
}

.Temoignages .quotes-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 75px 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.Temoignages .quote {
    display:flex;
    flex-direction:column;
    justify-content: center;
    width: 45%;
    height: 400px;
    /* min-width: 300px; */
}

.Temoignages .quote .icon-quote{
    display: flex;
    justify-content: left;
    width: 46px;
    height: auto;
    margin-bottom: 30px;
}

.Temoignages .quote-title{
    font-family: 'Hammersmith One', sans-serif;
    margin-bottom: 15px;
    font-size: 28px;
}

.Temoignages .info-container{
    font-family: 'Hanken Grotesk', sans-serif;

}

.Temoignages .quote-text {
    width:400px;
    margin-bottom:20px;
    font-size: 20px
}

.Temoignages .quote-author {
    font-size: 18px
}



